<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }} | Climateguard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body>
    <header class="topbar">
      <div class="container">
<a class="logo" href="/">
  <img src="/img/logo.png" alt="Climateguard Logo" height="40" />
  <span class="logo-text">by Hackerban.de</span>
</a>

<nav class="main-nav">
  <a href="/" class="{% if page.url == '/' %}active{% endif %}">Start</a>
  <a href="/daten/" class="{% if page.url.startsWith('/daten/') %}active{% endif %}">Daten</a>
  <a href="/projekt/" class="{% if page.url.startsWith('/projekt/') %}active{% endif %}">Über das Projekt</a>
  <a href="/mitmachen/" class="{% if page.url.startsWith('/mitmachen/') %}active{% endif %}">Mitmachen ❤️</a>
</nav>

      </div>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>© 2025 Climateguard by Hackerban.de |
        <a href="/impressum/">Impressum</a>
      </p>
    </footer>
  </body>
</html>
