---
layout: layout.njk
title: Startseite
---


<div id="map" class="fullwidth"></div>

<div id="time-slider-container">
  <input type="range" id="time-slider" min="0" max="143" step="1" value="143">
  <p>Gewählter Zeitpunkt: <span id="selected-time">Jetzt</span></p>
</div>

<!-- Leaflet-Styles -->
<link rel="stylesheet" href="/leaflet/leaflet.css" />
<link rel="stylesheet" href="/leaflet/MarkerCluster.css" />
<link rel="stylesheet" href="/leaflet/MarkerCluster.Default.css" />

<!-- Leaflet-Scripts -->
<script src="/leaflet/leaflet.js"></script>
<script src="/leaflet/leaflet.markercluster.js"></script>
<script src="/leaflet/leaflet-heat.js"></script>

<!-- Karte-Script -->
<script src="/scripts/map.js" defer></script>


<style>
  #map {
    height: 500px;
    margin: 2rem 0;
  }

  #time-slider-container {
    margin: 10px 0;
    text-align: center;
  }

  .custom-temp-label {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: center;
  }

  #time-slider {
    width: 80%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
  }

  #time-slider:hover {
    opacity: 1;
  }

  #time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
  }

  .info.legend {
    background: white;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .info.legend h4 {
    margin: 0 0 5px;
    font-size: 16px;
    text-align: center;
  }
</style>
