---
layout: layout.njk
title: Über das Projekt
---


    <h1>🌱 Über das Projekt</h1>

    <p>
        Der Klimawandel stellt unsere Städte vor immer größere Herausforderungen. Extreme Wetterereignisse nehmen an Häufigkeit und Intensität zu und beeinflussen Ökosysteme, Infrastrukturen und die Lebensqualität in urbanen Räumen nachhaltig. Um den Folgen effektiv zu begegnen und die Lebensqualität unserer Bürgerinnen und Bürger langfristig zu sichern, ist die Stärkung der Klimaresilienz von entscheidender Bedeutung. Mit climateguard möchten wir innovative Ansätze zur Klimaanpassung fördern, um Nürnberg dabei zu unterstützen, sich an veränderte klimatische Bedingungen anzupassen und deren Auswirkungen zu minimieren. Unser Ziel ist es, die Vision einer resilienten Stadt zu stärken und einen Beitrag zur langfristigen Nachhaltigkeit urbaner Räume zu leisten.
    </p>

    <h2>Präzise Daten für gezielte Maßnahmen und informierte Bürger</h2>

    <p>
        Wir wollen ein engmaschiges Sensornetzwerk entwickeln, das hochauflösende Klimadaten in urbanen Gebieten erfasst. Durch die kontinuierliche Messung von Temperatur- und Luftfeuchtigkeitswerten sollen wir Hitzeinseln und klimatische Veränderungen identifizieren und langfristig beobachten können. Diese wertvollen Daten sollen die Grundlage für evidenzbasierte Entscheidungen der Stadtverwaltung bilden, um gezielte Maßnahmen wie Begrünung, Verschattung oder die Optimierung der Luftzirkulation durch Windschneisen zu planen und umzusetzen. Denn Klimaresilienz ist hochgradig von lokalen Gegebenheiten wie Bebauung und Mikroklimata abhängig, was maßgeschneiderte Lösungen unerlässlich macht.
    </p>

    <p>
        Ein zentraler Pfeiler unseres Projekts ist die Schaffung von Transparenz und die Sensibilisierung der Öffentlichkeit. Alle erhobenen Klimadaten sollen frei verfügbar gemacht werden, sodass Wissenschaft, Verwaltung und Öffentlichkeit sie nutzen können. Die frei zugänglichen, verständlich aufbereiteten Daten sollen eine informierte gesellschaftliche Teilhabe und gemeinschaftliche Lösungsansätze fördern. Insbesondere sollen Bürgerinnen und Bürger die Möglichkeit erhalten, sich unmittelbar ein Bild vom Mikroklima zu machen und in Hitzephasen geeignete kühlere Orte zu identifizieren und aufzusuchen.
    </p>

    <h2>Unser Vorgehen und unsere Philosophie</h2>

    <p>
        Da es an geeigneten, kosteneffizienten Systemen zur Mikroklimaüberwachung mangelte, haben wir entschieden, einen eigenen Prototyp für ein solches Sensornetzwerk zu entwickeln, um eine Grundlage für weitergehende Projekte und Skalierung zu schaffen. Über die initiale Entwicklungsphase hinaus soll der dauerhafte Betrieb des Sensornetzwerks fortgeführt werden. Unser Ziel ist es, eine nachhaltige Infrastruktur zu schaffen, die Städte dauerhaft bei der Erfassung und Analyse klimatischer Veränderungen unterstützt.
    </p>

    <p>
        Um die technologische Basis langfristig zu sichern und Unabhängigkeit von proprietären Lösungen zu gewährleisten, können alle Entwicklungsdaten, einschließlich Hardware- und Software-Designs, an die Stadt übergeben werden. Dadurch soll die technologische Basis erhalten bleiben und unabhängig weitergeführt oder ausgebaut werden können, ohne an proprietäre Lösungen gebunden zu sein. Dies fördert fundierte Entscheidungen und ermöglicht neue Forschungsansätze. So möchten wir einen nachhaltigen Beitrag zur langfristigen Resilienz urbaner Räume leisten.
    </p>